/* styles.css */

body {
  font-family: 'Roboto', sans-serif;
  background-color: #F5F5F5;
  padding: 20px;
  word-break: break-all;
}

@media only screen and (min-width: 993px) {
  .container {
    width: 90% !important;
  }
}

.container {
  max-width: 90%;
  margin: auto;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

.card {
  border-radius: 8px;
}

.array-item {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  display: inline-block;
  transition: transform 1s ease-in-out;
}

.btn {
  margin-top: 20px;
}

.input-field {
  margin-top: 20px;
}

.max-item {
  background-color: #FF5722;
  color: white;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  display: inline-block;
  transition: transform 1s ease-in-out;
}

.processed-item {
  background-color: #FF5722;
  opacity: 0.5;
}
