<div class="mb-3">
    <a
        class="inline-flex text-sky-500 rounded-full border border-slate-200 dark:border-slate-800 dark:bg-gradient-to-t dark:from-slate-800 dark:to-slate-800/30"
        href="/"
    >
        <span class="sr-only">Back</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34">
            <path
                class="fill-current"
                d="m16.414 17 3.293 3.293-1.414 1.414L13.586 17l4.707-4.707 1.414 1.414z"
            ></path>
        </svg>
    </a>
</div>
